* {
	font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.04em;
	line-height: 1.25;
	margin: 0 !important;
	will-change: padding;
	transition: padding 250ms ease;

	/* for layout testing uncomment this--> outline: 1px solid red !important; */
}

html, body {
	background-color: var(--white, white);
	color: var(--black, black);
}


/* CSS VARIABLES */
:root {
	/* COLORS */
	--black: #1e1e1e;
	--blue: #0D68AB;
	--blue-grey: #f0f5fa;
	--red-grey: #FFF5F0;
	--dark-blue-grey: #dce1e6;
	--dark-red-grey: #F0D7C8;
	--bg-light-grey: #fafafa;
	--bg-grey: #ebebeb;
	--grey: #969696;
	--dark-grey: #666;
	--red-grey: #faf5f0;
	--dark-red-grey: #e6dcdc;
	--white: #fff;

	/* FONT-WEIGHT */
	--light: 300;
	--regular: 400;
	--shmedium: 600;
	--medium: 700;
	--bold: 800;
	--thicc: 900;

	/* FONT-SIZES */
	--h1: 2rem;
	--title: 1.5rem;
	--h2: 1.3rem;
	--h3: 1.1rem;
	--big-body: 16px;
	--body: 14px;
	--small: 12px;

	/* SPACING */
	--gutter: 16px;
	--half-gutter: 8px;
	--quarter-gutter: 4px;
	--m-calc: calc((100% - 1200px)/2);
	--m-center: 0 auto;

	/* LAYOUT */
	--full: 100%;
	--half: 50%;
	--border-grey: 1px solid #e6e6e6;

	/* ANIMATION */
	--transition: transform 0.15s ease-in-out;
}


/* SPACING */
.about {
	line-height: 2.25;
}

.container {
	width: var(--full);
	max-width: 960px;
	margin: var(--m-center) !important;
}

.container-m {
	width: var(--full);
	max-width: 960px;
	margin: var(--m-center) !important;
}

.m-calc {
	margin: 0 var(--m-calc) !important;
}

.m-center {
	margin: var(--m-center) !important;
}

.mb {
	margin-bottom: 16px !important;
}

.mb-h {
	margin-bottom: 8px !important;
}

.mt-neg {
	margin-top: -1px !important;
}

.mt-e {
	margin-top: 40px !important;
}

.mt {
	margin-top: 16px !important;
}

.mt-h {
	margin-top: 8px !important;
}

.mt-q {
	margin-top: 4px !important;
}

.p {
	padding: 16px;
}

.p-h {
	padding: 8px;
}

.pb-e {
	padding-bottom: 40px;
}

.pb {
	padding-bottom: 16px;
}

.pbs-e {
	padding: 0 16px 40px;
}

.pbs {
	padding: 0 16px 16px;
}

.pt-e {
	padding: 40px 0;
}

.pte-t {
	padding: 40px 16px 0;
}

.pte-b {
	padding: 0px 0px 40px;
}

.pto-e {
	padding-top: 40px;
}

.pto {
	padding-top: 16px;
}

.pto-h {
	padding-top: 8px;
}

.pto-q {
	padding-top: 4px;
}

.ptn {
	padding-top: 0 !important;
}

.ptb-e {
	padding: 40px 0;
}

.ptb {
	padding: 16px 0;
}

.ps {
	padding: 0 16px;
}

.pts {
	padding: 1em 16px 0;
}

.ptbs {
	padding: 3rem 16px;
}

.pl {
	padding-left: 16px;
}

.pr {
	padding-right: 16px;
}

/* NAVIGATION SPACING */
.navbar {
	padding: 0;
}

.nav-link {
	padding: 0 16px 0 0 !important;
}

.link-space {
	padding: 0 16px !important;
}

/* PHOTO SPACING */
.image {
	margin: var(--m-center) !important;
	max-width: 1200px;
}

.image-center {
	display: block;
    margin: var(--m-center) !important;
    width: var(--half);
}


/* FONTS */
.title {
	font-size: var(--title);
}

.bold {
	font-weight: var(--bold);
}

.medium {
	font-weight: var(--medium);
}

.shmedium {
	font-weight: var(--shmedium);
}

.eg-h1 {
	font-size: var(--h1);
	font-weight: var(--bold);
}

.eg-h2 {
	font-size: var(--h2);
	font-weight: var(--medium);
}

.eg-h3 {
	font-size: var(--h3);
	font-weight: var(--medium);
}

.bio {
	font-size: var(--big-body);
}

.body {
	font-size: var(--body);
}

.toggle {
	font-size: var(--small);
	font-weight: normal;
}

.toggle-title {
	font-weight: var(--medium);
}


/* COLORS */
::selection {
	background-color: var(--black);
	color: var(--white);
}

.black-link {
	color: var(--black);
}

.black-link-underline {
	color: var(--black);
	text-decoration: underline;
	text-underline-position: under;
}

.blue-link {
	color: var(--blue);
	cursor: pointer;
	text-decoration: underline;
	text-underline-position: under;
}

.blue-link:hover {
	color: var(--black);
	text-underline-position: under;
}

.dropdown-item.active {
	background-color: var(--black);
	border-radius: 3px 3px 0 0;
}

.grey {
	color: var(--dark-grey);
}

.hashtag {
	color: var(--grey);
	font-size: 12px;
    /*background: rgba(0,0,0,1);
    border-radius: 4px;
    padding: 4px;*/
}

.active {
	color: var(--black);
	text-decoration: underline;
	text-underline-position: under;
}

a {
	color: var(--grey);
}

a:active {
	color: var(--black);
	text-decoration: underline;
	text-underline-position: under;
}

a:hover {
	color: var(--black);
	text-decoration: underline !important;
	text-underline-position: under;
}


/* LAYOUT */
.description {
	text-align: right;
}

#ebby-des {
	display: none;
}

#filter {
	display: inline-block;
}

.product-title-price, .footer-space {
	display: flex;
	justify-content: space-between;
}

.head-area {
	display: flex;
	align-items: center;
}

.title-link {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.title-top {
	position: absolute;
}

.detail {
	display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.toggle-space {
	display: flex;
	align-items: baseline;
	justify-content: safe;
}

.top-area {
	display: flex;
	justify-content: center;
}


/* GRIDS */
.five-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;
}

.four-grid {
	display: grid;
    grid-template: 1fr/repeat(4, 2fr);
    grid-gap: 16px;
    margin: var(--m-center) !important;
}

.three-grid {
	display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    grid-gap: 16px;
    margin: var(--m-center) !important;
}

.three-grid-footer {
	display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    grid-gap: 16px;
    margin: var(--m-center) !important;
    width: calc(100%/2);
}

.two-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 16px;
	width: calc(100%/2);
}

.one-grid {
	display: grid;
  grid-template: 1fr/1fr;
  grid-gap: 16px;
  margin: var(--m-center) !important;
}


/* NAVIGATION-MENU */
.navigation {
	height: 48px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}

.nav, .nav-item, .navbar {
	background: var(--white) !important;
}

.navbar-nav {
	justify-content: space-evenly;
}

.even-nav {
	display: grid;
}

/* .header, .navbar-expand, .navbar-nav, .navbar-brand, .nav-link {
	padding: 0 !important;
}


/* IMAGES */
.border {
	border: 1px solid var(--black) !important
}

.content {
	position: absolute;
	width: var(--full);
	height: var(--full);
}

.full {
	width: 100%;
}

#item-1 {
	background-image: url("../../images/shop/item-1/Screen Shot 2018-03-02 at 5.19.22 PM.png");
	background-size: cover;
	transition: var(--transition);
	width: var(--full);
}

#item-1:hover {
	transform: scale(1.2);
	transition: var(--transition);
}

#item-2 {
	background-image: url("../../images/shop/item-2/2018-08-15 17.43.47.png");
	background-size: cover;
	transition: var(--transition);
	width: var(--full);
}

#item-2:hover {
	/* background-image: url("../../images/thumbnails/image-sq-zoom@2x.png"); */
	transform: scale(1.2);
	transition: var(--transition);
}

#item-3 {
	background-image: url("../../images/shop/item-3/2018-08-11 22.22.14.jpg");
	background-size: cover;
	transform: rotate(90deg);
	transition: var(--transition);
	width: var(--full);
}

#item-3:hover {
	/* background-image: url("../../images/thumbnails/image-sq-zoom@2x.png"); */
	transform: scale(1.2) rotate(90deg);
	transition: var(--transition);
}

#item-4 {
	background-image: url("../../images/shop/item-4/2018-08-11 22.28.28.jpg");
	background-size: cover;
	transform: rotate(90deg);
	transition: var(--transition);
	width: var(--full);
}

#item-4:hover {
	/* background-image: url("../../images/thumbnails/image-sq-zoom@2x.png"); */
	transform: scale(1.2) rotate(90deg);
	transition: var(--transition);
}

.inverted {
	-webkit-filter: contrast(0%) brightness(500%);
	filter: contrast(0%) brightness(500%);
}

.contain {
	overflow: hidden;
}

.square {
	max-width: var(--full);
}

.square:after {
	display: block;
	padding-bottom: 100%;
	content: "";
}

.swatch {
	background-color: var(--dark-blue-grey);
}

.thumbnail-round {
	border-radius: 4px;
}

.thumbnail-top-round {
	border-radius: 4px 4px 0 0;
}

.thumbnail-bottom-round {
	border-radius: 0 0 4px 4px;
}

.thumbnail {
	border: 1px solid var(--black);
}


/* BUTTONS */
.btn, .btn-primary {
    background-color: var(--white);
    border-color: var(--black);
		border-radius: 2px;
    color: var(--black);
    width: 100%
}

.btn:hover, .btn-primary:hover {
	background-color: var(--black);
	border-color: transparent;
}

.footy {
	background-color: var(--bg-light-grey) !important;
	font-size: 12px;
	height: 88px;
}


/* BORDERS */
.header {
	border-top: var(--border-grey);
	border-bottom: var(--border-grey);
}

.main {
	background-color: var(--white);
	border-top: var(--border-grey);
	border-bottom: var(--border-grey);
}

.main-b {
	border-bottom: var(--border-grey);
}

.main-2 {
	border-bottom: var(--border-grey);
}


/* EXPAND/COLLAPSE TOGGLES */
/* EXPAND/COLLAPSE IS A CHECKBOX */
input[type="checkbox"] {
	display: none;
}

/* DEFAULT LABEL STYLING + (BLOCK ELEMENT - ignore bc its display: flex)
.lbl-toggle {
	cursor: pointer;
}

/* TRIANGLE
.lbl-toggle::before {
	content: ' ';
	display: inline-block;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
	transition: transform .25s ease;
}

/* ROTATE THE TRIANGLE
.toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}
/* ADJUST BOTTOM CORNERS OF TOP DIV WHEN EXPANDED - actually don't need bc white bg but keep anyway
.toggle:checked + .lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

/* INNER CONTENT STYLING - actually don't need bc white bg but keep anyway
.collapsible-content .content-inner {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px; 
}  */

/* HIDDEN BY DEFAULT BC MAX-HEIGHT: 0 */
.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	padding-bottom: 2px;
	transition: max-height 500ms ease-in-out;
}

/* GOAL TOGGLE */
/* SET CONTENT DIV TO HIGH-ENOUGH MAX-HEIGHT TO GROW AND DISPLAY INNER CONTENT */
#collapsible:checked + .lbl-toggle + .collapsible-content {
	max-height: 500px;
}

#collapsible:checked + #toggle-label:after {
	background: var(--white);
	color: #0D68AB; 
	content: "close";
	cursor: pointer;
	font-size: 12px;
	font-weight: var(--regular);
	margin-top: 4px;
	position: absolute;
	right: 16px;
	text-decoration: underline;
	text-underline-position: under !important;
}

/* PROCESS TOGGLE */
/* SET CONTENT DIV TO HIGH-ENOUGH MAX-HEIGHT TO GROW AND DISPLAY INNER CONTENT */
#collapsible-2:checked + .lbl-toggle + .collapsible-content {
	max-height: 500px;
}

#collapsible-2:checked + #toggle-label:after {
	background: var(--white);
	color: #0D68AB; 
	content: "close";
	cursor: pointer;
	font-size: 12px;
	font-weight: var(--regular);
	margin-top: 4px;
	position: absolute;
	right: 16px;
	text-decoration: underline;
	text-underline-position: under !important;
}

/* PROTOTYPE TOGGLE */
/* SET CONTENT DIV TO HIGH-ENOUGH MAX-HEIGHT TO GROW AND DISPLAY INNER CONTENT */
#collapsible-3:checked + .lbl-toggle + .collapsible-content {
	max-height: 500px;
}

#collapsible-3:checked + #toggle-label:after {
	background: var(--white);
	color: #0D68AB; 
	content: "close";
	cursor: pointer;
	font-size: 12px;
	font-weight: var(--regular);
	margin-top: 4px;
	position: absolute;
	right: 16px;
	text-decoration: underline;
	text-underline-position: under !important;
}

/* OUTCOME TOGGLE */
/* SET CONTENT DIV TO HIGH-ENOUGH MAX-HEIGHT TO GROW AND DISPLAY INNER CONTENT */
#collapsible-4:checked + .lbl-toggle + .collapsible-content {
	max-height: 500px;
}

#collapsible-4:checked + #toggle-label:after {
	background: var(--white);
	color: #0D68AB; 
	content: "close";
	cursor: pointer;
	font-size: 12px;
	font-weight: var(--regular);
	margin-top: 4px;
	position: absolute;
	right: 16px;
	text-decoration: underline;
	text-underline-position: under !important;
}


/* EFFECTS */

.hover {
	position: relative;
}



/* MEDIA QUERIES ––– MEDIA QUERIES ––– MEDIA QUERIES */

/* SMALL DEVICES  */
@media (max-width: 767px) {
	/* spacing */

	.top-area {
		justify-content: space-between;
	}

	.footy {
		margin-bottom: 48px !important;
	}

	#ebby-des {
		padding-left: 0px;
		padding-right: 0px;
	}

	.mb {
		margin-bottom: 8px !important
	}

	.m-calc {
		margin: initial !important;
	}

	.mt-e {
		margin-top: 16px !important;
	}

	.pb-e {
		padding-bottom: 16px;
	}

	.ptb-e {
		padding: 16px 0;
	}

	#ptn-m {
		padding-top: 0px;
	}

	.ptbs {
		padding: 1rem 16px;
	}

	.pte-b {
		padding: 16px 0px 0px;
	}

	.pt-e {
		padding: 0 16px 16px;;
	}

	.pts {
		padding: inherit;
	}

	#first-link {
		padding-left: 0 !important;
	}

	.recommended {
		padding: 40px 16px;
	}


	/* layouts */
	.head-area {
		justify-content: center;
	}

	.description {
		text-align: left;
	}

	.footer-space {
		display: block;
		text-align: center;
	}
	

	/* grids */
	.five-grid {
		grid-template: 1fr / 1fr 1fr;
	}
	
	/* 2-column-grid */
	.four-grid, .three-grid-footer {
	    grid-template: 1fr/repeat(2, 1fr);
    	width: var(--full);
	}

	.three-grid {
	    grid-template: 1fr/1fr;
	}

	.two-grid {
		width: unset;
	}
	

	/* images */
	.thumbnail {
		border: none;
	}

	/* navigation */
	/* fixed bottom nav */
	.navigation {
		position: fixed !important;
		top: auto !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
	}

	.logo {
		display: none;
	}
	
	/* scroll the nav */
	.navbar-nav-scroll {
		white-space: nowrap;
		/*overflow-x: auto;*/
		max-width: var(--full);
	}

	.even-nav {
		display: grid !important;
	}

	.navbar > .container {
		justify-content: normal;
	}

	.toggle-space {
		justify-content: space-between;
	}

	.right-side {
		display: none;
	}

	.hide {
		display: none;
	}
	

	/* borders */
	.main-b {
		border-bottom: none;
		border-top: var(--border-grey);
		position: relative;
	}

	.border {
		border: none !important;
	}
	

	/* buttons 
	.btn {
		display: none;
	} */

	/* filter-button */
	.dropdown-item {
	    padding: .5rem 1rem;
	}

	.dropdown-menu {
		padding: 0;
	}
}


/* BIG DEVICES */
@media (min-width: 768px) {
	/* spacing */
	.ptn {
		padding-top: 16px;
	}

	/* specifying here for the footer links
	.pto {
		padding-top: 0;
	} */

	.pts {
		padding-top: 40px;
	}

	#first-link {
		padding: 0 16px !important;
	}

	
	/* grids */

	
	/* navigation */
	.hide-e {
		display: none;
	}

	.navbar {
		display: flex;
	}
	
	.even-nav {
		display: grid;
	}

	.title-link {
		justify-content: normal;
	}

	/* layout */
	.m-center {
		margin: none;
	}
	

	/* expand-collapse toggles */
	#collapsible:checked + #toggle-label:after {
    	margin-left: -13px;
	    position: relative;
	}

	#collapsible-2:checked + #toggle-label:after {
    	margin-left: -13px;
	    position: relative;
	}

	#collapsible-3:checked + #toggle-label:after {
    	margin-left: -13px;
	    position: relative;
	}

	#collapsible-4:checked + #toggle-label:after {
    	margin-left: -13px;
	    position: relative;
	}
}
